<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>
<link type="text/css" rel="stylesheet" href="/css/loginPage.css">
<link type="text/css" rel="stylesheet"
	href="/webjars/font-awesome/5.15.2/css/all.min.css">
<link type="text/css" rel="stylesheet"
	href="/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css">
</head>
<body>
	<div th:replace="welcomePage :: header">...</div>

	<h2>
		Message : <span th:utext="${message}"></span>
	</h2>

	<table border="1">
		<tr>
			<th>id</th>
			<th>username</th>
			<th>role</th>
			<th>enabled</th>
		</tr>
		<tr th:each="user : ${users}">
			<td th:utext="${user.id}">...</td>
			<td th:utext="${user.username}">...</td>
			<td th:utext="${user.role}">...</td>
			<td th:utext="${user.enabled}">...</td>
		</tr>
	</table>
</body>

</html>